@page "/about"

<PageTitle>Dosage Calculator</PageTitle>

<h3>Dosage Calculator</h3>
<p>Version: 1.0.1</p>
<p>Author: <a href="https://egemen-ciftci.web.app/" target="_blank">Egemen Çiftci</a></p>
<p>Powered by <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> and <a href="https://firebase.google.com/" target="_blank">Firebase</a></p>

@code {
}
